*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Arial, san-serif";
    background-color: black;
}

.wrapper{
    padding: 20px;
    max-width: 650px;
    width: 95%;
    margin: 20px auto;

}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 10px solid white;
    height: 500px;
  
}

.column{
    flex:1;
    border: 1px solid rgba(2, 2, 17, 0.986);
    text-align: center;
}




/* create infinite background color */
#column1{
    padding-top: 220px;
    background-color: blue;
    animation: colorChanges 2s infinite;
}

@keyframes colorChanges {
  from {background-color:blue;}
  to {background-color:yellow;}
}


#column2{
    padding-top: 220px;
    background-color: white;
}
#column3{
    
    background-color: blue;
    
}





/* rote the text from the secode div */
.rotation { 
margin:auto;
animation: roll 2s infinite;
transform: rotate(0);
  
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* up and down text */
#mytext{
    position: relative;
    animation: upAndDown 2s infinite;
}

@keyframes upAndDown {
  0% {top: 10%;}
  50% {top: 50%;}
  100% {top: 80%;}
}